/NotificationService/
/ProductService/
/PurchaseOrderService/
/InventoryService/src/main/java/com/example/inventoryservice/infrastructure/
/InventoryService/src/main/java/com/example/inventoryservice/domain/
